.btn-modal {
    padding: 10px 20px;
    display: block;
    font-size: 1.5rem;
    border: none;
    background-color: red;
    color: white;
    transition: all 0.3s ease-in-out;
    width: 100%;
    
    &-back{
        padding: 15px;
        background-color: rgb(33, 33, 33);
        border: none;
        color: #e5e5e5;
        transition: all 0.3s ease-in;
        width: 100%;
        &:hover{
            cursor: pointer;
            background-color: #fff;
            color: #1e1e1e;
        }
    }

    &:hover{
        cursor: pointer;
        background-color: rgb(168, 8, 8);
    }
}



.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(42, 42, 42, 0.643);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ccc;
    padding: 25px;
    border-radius: 3px;
    max-width: 450px;
    min-width: 300px;
}

.modal-content h2{
    text-align: center;
}

.actions-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.actions-modal-btn{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;

}

.confirm-btn{
    padding: 15px;
    background-color: red;
    border: none;
    color: #fff;
    transition: all 0.3s ease-in;
    width: 100%;
}


.confirm-btn:hover{
    cursor: pointer;
    color: whitesmoke;
}

.close-modal {
    padding: 15px;
    transition: all 0.3s ease-in;
    width: 100%;
    background-color: rgb(33, 33, 33);
    color: #e5e5e5;
    border: none;
    &:hover{
        cursor: pointer;
        background-color: #e5e5e5;
        color: #1e1e1e;
    }
}

