aside nav {
  position: fixed;
  height: calc(90vh - 15px);
  width: 200px;
  background-color: #2c3e50;
  color: white;
  left: 5px;
  top: calc(10vh + 10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 100;
  border-radius: 10px;

  ul {
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 50px 0;

    li {
      padding: 20px;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background-color: #34495e;
      }
    }
  }
}
