.container-grid {
  display: grid;
  grid-template-columns: 20vw auto;
  grid-template-rows: 14vh auto;
  grid-template-areas:
    "header header"
    "sidebar content";
  height: 100vh;

  &-header {
    grid-area: header;
    background-color: #f4f4f4;
    padding: 5px;
    position: sticky;
  }

  &-sidebar {
    grid-area: sidebar;
    background-color: #f4f4f4;
    padding: 0 5px 5px;
    position: sticky;
    top: 14vh;
  }

  &-content {
    grid-area: content;
    padding: 0 5px 5px 0;
    overflow-y: auto;
    background-color: #f4f4f4;
  }
}
