
.layout {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;

}

.main-container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.content {
  margin-top: 10vh;
  background-color: white;
  border-radius: 8px;
}
